<hr/>
<p>
  Please download the attached JSONL file, then use the script
  <a download type="text/x-shellscript" href="{{ url_for('static', filename='handle.py', _external=True) }}"><code>handle.py</code></a>.
  You can use the script interactively by providing <code>-i</code> switch.
  The simplest command, which will just decrypt the data, is:
</p>

<blockquote><code>handle.py {{attachment_name}}</code></blockquote>

<p>You will have to also provide <code>-k "$PRIVATE_KEY"</code> if you are not using the default one. To accept, use <code>-a</code> switch, or <code>-r</code> to reject. Use <code>-h</code> to see all options. Here are some more examples of usage:

<blockquote><code><pre>
# approve all requests in the download folder
# and save records by appending to approved.jsonl
handle.py -a ~/Downloads/requested-*.jsonl.enc -O approvals.jsonl

# reexamine all requests in approvals.jsonl interactively
# using the private key s3_approvals.pem, with output to reapprovals.jsonl:
handle.py -k s3_approvals.pem -i approvals.jsonl -o reapprovals.json
</pre></code></blockquote>

<p>
  Alternately, if you wish to decrypt the file manually, use <code>openssl</code> like this:
</p>

<blockquote><code>openssl smime -decrypt -binary -inform DER -inkey "$PRIVATE_KEY" -in {{attachment_name}}</code></blockquote>
